// bower:scss
@import 'bourbon';
@import "variables";

// Neat Settings -- uncomment if using Neat -- must be imported before Neat
@import "grid-settings";
@import 'neat';

@import "buttons";
@import "forms";
@import "lists";
@import "tables";
@import "typography";
// endbower

$heading-font-family: 'Montserrat', sans-serif;
$base-font-family: 'Istok Web', sans-serif;
$sans-serif: $base-font-family;
$serif: $heading-font-family;
$serif-body: 'Cardo', sans-serif;


$linkColor: #4183C4;
$hoverColor: lighten($linkColor, 10);
$borderColor: #b3b3b3;
$white: #ffffff;
$black: #202020;

body,
html {
  min-height: 100%;
  min-width: 100%;
}

body {
  // @include outer-container;
  -webkit-font-smoothing: antialiased;
  font-family: $base-font-family;
  background-color: #F6F6F6;
}

h1, h2, h3, h4, h5, h5, {
  font-family: $heading-font-family;
  text-transform: uppercase;
  font-weight: normal;
}

.type-system-slab {
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $base-link-color: $action-color !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $medium-screen: em(640) !default;
  $base-font-color: $dark-gray !default;
  // $sans-serif: 'Open Sans', sans-serif;
  // $serif: 'Roboto Slab', serif;

  @include clearfix;
  text-align: left;

  h1, h2, h3, p {
    margin: 0;
  }

  hr {
    border-bottom: 1px solid $light-gray;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: $base-spacing 0;
  }

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }

  a {
    color: $base-link-color;
    text-decoration: none;
  }

  .type {
    border-bottom: 1px solid;
    display: inline-block;
    font-family: $sans-serif;
    font-size: 0.7em;
    font-weight: 600;
    margin-bottom: 2em;
    padding: 0.1em 0;
    text-align: left;
    text-transform: uppercase;
  }



  h1 {
    font-family: $serif;
    font-size: 1.6em;
    font-weight: 400;
    margin-bottom: 0.6em;

    @include media($medium-screen) {
      font-size: 2.4em;
    }
  }

  h2 {
    font-family: $sans-serif;
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.5em;
    margin-bottom: 1.2em;

    @include media($medium-screen) {
      font-size: 1.3em;
    }
  }

  code {
    background: #F7F7F7;
    border-radius: $base-border-radius * 1.5;
    border: 1px solid #E0E0E0;
    font-size: 0.8em;
    font-style: normal;
    padding: 0.1em 0.4em;
    white-space: nowrap;
  }

  h3 {
   font-family: $serif;
   font-size: 1em;
   font-weight: 600;
   line-height: 1.4em;
   margin-bottom: 0.5em;
   text-transform: uppercase;
  }

  h3.small {
    font-size: 0.7em;
    font-weight: 400;
    color: #777777;
    letter-spacing: 1.5px;
  }

  p.date {
    color: transparentize($base-font-color, 0.6);
    font-family: $sans-serif;
    font-size: 0.8em;
    margin-bottom: 0.5em;
  }

  p {
    font-family: $sans-serif;
    font-weight: 300;
    letter-spacing: 1;
    margin-bottom: 1.5em;

    span {
      font-family: $sans-serif;
      font-size: 0.8em;
      font-weight: 600;
      text-transform: uppercase;
    }
  }

  a.read-more {
    display: inline-block;
    font-family: $serif;
    font-size: 0.8em;
    font-weight: 700;
    margin-left: 0.2em;
    position: relative;
    text-transform: uppercase;

    span {
      font-size: 1.8em;
      position: absolute;
      right: -12px;
      top: -2px;
    }
  }

  hr {
    width: 3em;
  }

  p.author {
    font-family: $serif;
  }

  .serif {
    font-family: $serif-body !important;
  }
}

.button {
  @extend button;
  background: none;
  border: #868686 1px solid;
  color: #868686 !important;
  font-weight: normal;
  text-transform: uppercase;
  font-family: $heading-font-family;
  font-size: 0.7em;
  letter-spacing: 0.05em;
  padding: 1em 1.25em;
  @include media($medium-screen) {
    font-size: 0.9em;
    letter-spacing: 0.1em;
    border: #868686 2px solid;
  }
  &:hover,
  &:focus {
    background: #868686;
    color: #fff !important;
  }
}


.full-screen {
  min-height: 100%;
  min-width: 100%;
  display: block;
  .bg-video,
  .overlay,
  .video-background-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    z-index: 1;
  }
  .overlay {
    background: rgba(99,0,0,0.70);
    z-index: 2;
  }
}

.intro {
  &-text {
    opacity: 0;
    position: absolute;
    z-index: 3;
  }
  &-head,
  &-subhead {
    color: white;
    font-weight: 600;
    text-align: center;
  }

  &-subhead {
    /* MICHAEL PICKIN: */
    font-size: 18px;
    color: #B37D7D;
    letter-spacing: 1.2px;
    line-height: 24px;
    margin-bottom: 1em;
    @include media($medium-screen) {
      font-size: 24px;
      color: #B37D7D;
      letter-spacing: 1.5px;
      line-height: 29px;
      margin-bottom: 0;
    }
  }
  &-head {
    /* UNLIMITED AEROBATICS: */
      font-size: 36px;
      color: #FFFFFF;
      letter-spacing: 1.5px;
      line-height: 40px;
    @include media($medium-screen) {
      font-size: 48px;
      color: #FFFFFF;
      letter-spacing: 1.5px;
      line-height: 57px;
    }
  }

}

.nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 5;
  opacity: 0;
  // background: transparentize($black, .5);
  // &:hover {
  //   background: transparentize($black, 0);
  //   cursor: pointer;
  // }
  &-item {
    display: inline-block;
    font-family: $heading-font-family;
    text-transform: uppercase;
    color: $white;
    padding: 2em 0.5em;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1.2px;
    @include media($medium-screen) {
      font-size: 12px;
      padding: 2em 1em;
      line-height: 14px;
      letter-spacing: 1.6px;
    }
    &:hover,
    &:active,
    &:focus {
      color: $white;
      span {
        padding-bottom: 2px;
        border-bottom: 2px solid white;
      }

    }
  }
}

// .headhesive--clone {
//   position: fixed;
//   top: 0;
//   width: 100%;
//   text-align: center;
//   z-index: 5;
//   opacity: 1;
//   display: block;
//   background: black;
//   height: 4em;
// }

.headhesive--stick {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 5;
  opacity: 1;
  display: block;
  background: #1F1F1F;
  height: 4em;
    /* Animations */
    -webkit-transition: all 300ms ease-in-out;
       -moz-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out;

    /* Translate back to 0%; */
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);

}

.headhesive--unstick {



    /* Translate -100% to move off screen */
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);

    // /* Animations */
    // -webkit-transition: all 300ms ease-in-out;
    //    -moz-transition: all 300ms ease-in-out;
    //         transition: all 300ms ease-in-out;

}



.container {
  @include outer-container;
  // @include margin(25px null 25px null);
  @include pad(1em);
  @include media($medium-screen) {
    @include pad(2em);
  }
  background-color: white;
  .main {
    margin-bottom: 2em;
  }
}

.container-social {
  // display: inline-table;
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  overflow: hidden;
  .container-social-item {
    @include span-columns(4 of 12, table);
    @include pad(5em 2em);
    float: left;
    background: red;
    height: 200px;
    &:nth-of-type(2n) {
      background: $white;
    }
    p {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.container-about {
  @include row;
  background: $white;
  display: block;
  .container-inner {
    // @include pad(1em);
    padding-top: 3em;
    padding-bottom: 3em;
    @include media($medium-screen) {
      @include pad(5em);
    }
    @include outer-container;
  }
  img {
    @include media($medium-screen) {
      @include span-columns(10);
      margin-bottom: 2.5rem;
      @include shift(1);
    }
    // @include span-columns(12);
    width: 100%;
    margin-bottom: 0;
    @include media($medium-screen) {
      margin-bottom: 1.5em;
    }
  }
  h3.small {
    text-align: center;
    margin: 0;
    @include span-columns(8);
    @include shift(2);
    margin-bottom: 0;
    @include media($medium-screen) {
      margin-bottom: 1em;
    }
  }
  h1 {
    font-size: 28px;
    color: #202020;
    line-height: 36px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 1em;
    @include span-columns(12);
    @include media($medium-screen) {
      font-size: 40px;
      @include span-columns(8);
      @include shift(2);
    }
  }
  .serif {
    @include pad(1em);
    text-align: justify;
    @include media($medium-screen) {
      @include pad(0);
    }
  }
  .serif p {
    max-width: 640px;
    font-family: $serif-body;
    color: $black;
    font-size: 1em;
    @include span-columns(12);
    @include media($medium-screen) {
      font-size: 1.2em;
      @include shift(2);
      @include span-columns(8);
    }
  }
  .serif a {
    color: #914C4C;
    text-decoration: underline;
  }
}

.container-sponsors {
  @include row;
  background: #F6F6F6;
  .sponsors-inner {
    padding-top: 3em;
    padding-bottom: 3em;
    @include media($medium-screen) {
      @include pad(5em);
    }

    @include outer-container;
  }
  .sponsors-row {
    @include outer-container;
    .sponsor-item {
      @include span-columns(6);
       @include pad(1em);
      @include media($medium-screen) {
         @include pad(3em);
      }
      color: lighten(#202020, 20%);
      &:hover {
        color: #202020;
        img {
          opacity: 1;
        }
      }
      text-align: center;
      img {
        text-align: center;
        height: 2em;
        margin-bottom: 1em;
        opacity: 0.5;
        @include media($medium-screen) {
          height: 3.5em;
        }
      }
      .sponsor-name {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 0.6em;
        font-family: $heading-font-family;
        @include media($medium-screen) {
          letter-spacing: 0.2em;
          font-size: 0.8em;
        }
      }
    }
  }
  h3.small {
    text-align: center;
    @include span-columns(8);
    @include shift(2);
    margin-bottom: 1em;
    @include media($medium-screen) {
      margin: 0;
      @include span-columns(8);
      @include shift(2);
    }
  }
  .sponsors-text {
    padding-top: 0;
    text-align: justify;
    @include media($medium-screen) {
      padding-top: 2em;

    }
  }
  .serif {
    @include pad(1em);
    @include media($medium-screen) {
      @include pad(0);
    }
  }
  .serif p {
    max-width: 640px;
    font-family: $serif-body;
    color: $black;
    font-size: 1em;
    @include span-columns(12);
    @include media($medium-screen) {
      font-size: 1.2em;
      @include shift(2);
      @include span-columns(8);
    }
  }
  .sponsor-toggle.button-container {
    text-align: center;
    display: block;
    button {
      margin: 2em;
    }
  }
  .sponsor-toggle-text {
    background: #868686;
    max-width: 640px;
    font-family: $serif-body;
    font-size: 1em;
    @include pad(2em);
    @include span-columns(12);
    @include media($medium-screen) {
      @include pad(2em);
      font-size: 1.2em;
      @include shift(2);
      @include span-columns(8);
      display: none;
    }
    p,
    ul {
      @include span-columns(12);
      @include shift(0);
      // font-size: .8em;
      color: $white;
      @include media($medium-screen) {
        font-size: 1em;
      }
      a {
        color: $white;
        text-decoration: underline;
      }
    }
    ul {
      @include span-columns(12);
      @include shift(0);
      li {
        list-style-type: disc;
        margin-left: 2em;
        line-height: 1.6em;
        margin-bottom: 1em;
      }
    }
    display: none;
  }

}

.container-media {
  width: 100%;
  height: 100%;
  max-height: 460px;
  @include media($medium-screen) {
    max-height: 640px;
  }
  > div {
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
}

.skippr-nav-container {
  z-index: 4 !important;
  display: none !important;
  @include media($medium-screen) {
    display: block !important;
  }
}

.container-contact {
  @include row;
  @include pad(2em 0);
  min-height: 460px;
  background: url('/images/background-contact.jpg');
  background-position: 50% 30%;
  background-size: cover;
  background-repeat: no-repeat;
  @include media($medium-screen) {
    @include pad(2em);
  }
  .container-inner {
    @include pad(2em);
    @include span-columns(10);
    @include shift(1);
    background-color: $white;
    text-align: center;
    min-height: 250px;
    @include media($medium-screen) {
      @include span-columns(8);
      @include shift(2);
    }
  }
  input[type=submit] {
    background: lighten(#1F1F1F, 15%);
  }
}

// Forms defaults

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: lighten($base-border-color, 10%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

fieldset {
  background-color: $secondary-background-color;
  border: $base-border;
  margin: 0 0 $small-spacing;
  padding: $base-spacing;
}

input,
label,
select {
  font-family: $base-font-family;
  font-size: $base-font-size;
}

label {
  font-weight: 600;
  margin-bottom: $small-spacing / 2;

  &.required::after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

#{$all-text-inputs},
select[multiple=multiple],
textarea {
  background-color: $base-background-color;
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 3;
  transition: border-color;
  width: 100%;

  &:hover {
    border-color: darken($base-border-color, 10%);
  }

  &:focus {
    border-color: $action-color;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }

  &:disabled {
    background-color: darken($base-background-color, 6%);
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $small-spacing / 2;
}

input[type="file"] {
  padding-bottom: $small-spacing;
  width: 100%;
}

select {
  margin-bottom: $base-spacing;
  max-width: 100%;
  width: auto;
}

.footer {
  @include span-columns(12);
  @include pad(2em 0);
  font-size: em(14);
  color: #777777;
  text-align: center;
  background: #202020;
  a {
    color: #777777;
    &:hover {
      color: $white;
    }
  }
  p {
    margin: 0;
  }
}
